/* UnoCSS base import is handled via virtual:uno.css in index.tsx */

[data-theme="light"] {
    --primary: green;
    --secondary: #262626;
    --highlight: #4a6ba7;

    --ok: limegreen;
    --warn: orange;
    --error: red;
    --ok-foreground: var(--muted-foreground);
    --warn-foreground: black;
    --error-foreground: black;

    --background: #f8f9fa;
    --foreground: #000000;

    --muted: #cccccc;
    --muted-foreground: #71717a;

    --popover: #ffffff;
    --popover-foreground: #09090b;

    --border: gray;
    --input: #e4e4e7;

    --card: #ffffff;
    --card-foreground: #09090b;

    --primary-foreground: white;
    --secondary-foreground: var(--primary);

    --accent: #f4f4f5;
    --accent-foreground: #18181b;

    --destructive: #ef4444;
    --destructive-foreground: #fafafa;

    --ring: #18181b;

    --radius: 0.5rem;
}

[data-theme="dark"] {
    --primary: green;
    --secondary: #e0d5c7;
    --highlight: #ffcc33;

    --ok: green;
    --warn: orange;
    --error: #ef4444;
    --ok-foreground: var(--muted-foreground);
    --warn-foreground: black;
    --error-foreground: white;

    --background: #222831;
    --foreground: #fafafa;

    --muted: #1b443e;
    --muted-foreground: #e59f17;

    --accent: #27272a;
    --accent-foreground: #fafafa;

    --popover: #0a0a0b;
    --popover-foreground: #fafafa;

    --border: #979393;
    --input: #353535; /* input control background */

    --card: #0a0a0b;
    --card-foreground: #fafafa;

    --primary-foreground: white;
    --secondary-foreground: grey;

    --destructive: #7c2d12;
    --destructive-foreground: #fafafa;

    --ring: #f0a20c; /* edit control focus ring color */

    --radius: 0.5rem;
}

body {
    background-color: var(--background);
    color: var(--foreground);
}

html,
body,
#app {
    min-height: 100svh;
}
