/* UnoCSS base import is handled via virtual:uno.css in index.tsx */

[data-theme="light"] {
    --primary: green;
    --secondary: #262626;
    --highlight: #4a6ba7;

    --ok: #166329;
    --warn: #92400e;
    --error: #991b1b;
    --ok-foreground: #082d12;
    --warn-foreground: #271000;
    --error-foreground: #ffffff;

    --background: #ffffff;
    --foreground: #000000;

    --muted: #c8dbcd;
    --muted-foreground: #132018;

    --popover: #ffffff;
    --popover-foreground: #000000;

    --border: #3f5f48;
    --input: #ffffff;

    --card: #ffffff;
    --card-foreground: #000000;

    --primary-foreground: white;
    --secondary-foreground: #ffffff;

    --accent: #c7ddff;
    --accent-foreground: #061735;

    --destructive: #991b1b;
    --destructive-foreground: #ffffff;

    --ring: var(--highlight);

    --radius: 0.5rem;
}

[data-theme="dark"] {
    --primary: green;
    --secondary: #e0d5c7;
    --highlight: #ffcc33;

    --ok: green;
    --warn: orange;
    --error: #ef4444;
    --ok-foreground: var(--muted-foreground);
    --warn-foreground: black;
    --error-foreground: white;

    --background: #222831;
    --foreground: #fafafa;

    --muted: #1b443e;
    --muted-foreground: #e59f17;

    --accent: #27272a;
    --accent-foreground: #fafafa;

    --popover: #0a0a0b;
    --popover-foreground: #fafafa;

    --border: #979393;
    --input: #353535; /* input control background */

    --card: #0a0a0b;
    --card-foreground: #fafafa;

    --primary-foreground: white;
    --secondary-foreground: grey;

    --destructive: #7c2d12;
    --destructive-foreground: #fafafa;

    --ring: #f0a20c; /* edit control focus ring color */

    --radius: 0.5rem;
}

body {
    background-color: var(--background);
    color: var(--foreground);
}

html,
body,
#app {
    min-height: 100svh;
}
